[Unit]
Description=Go SSH Tunnel service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/gst -f /usr/local/etc/gst.toml
RestartSec=3
Restart=on-failure